* {
    padding: 5px;
}

.navbar {
    background-color: darkgray;
    color: white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid black;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    font-size: 18px;
    margin: 0px;
}

.navbar a {
    text-decoration: none;
    color: purple;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: white;
}